
            
<div class="container">
    <ul class="list-unstyled" > 
        <% for(var i=0; i<posts.length; i++) {%>
            
            <li class="mt-4 ">
                <a href="/post/<%= posts[i]._id%>">
                    <img class="img-fluid w-100" src="<%= posts[i].image%>" alt="<%= posts[i].title %>">
                </a>
            </li>
        <% } %>
    </ul>
</div>

