<%- include('partials/header') -%>

<main class="container">
  <div class="row justify-content-center">
    <section class="col-12 col-md-6 my-5">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>
      <div class="card shadow-lg w-100 mb-4" style="max-width: 480px;">
        <div class="card-body">
            <div class="text-center">
                <h1 class="card-title h3">Sign in</h1>
                <p class="card-text text-muted">Welcome Back! Please sign in to continue.</p>
            </div>
            <div class="text-center text-muted mt-3">
                    <p>Don't want to make an account?</p>
                    <span>Login with:</span>
                    <br>
                    <span>email: guest@guest.com</span>
                    <br>
                    <span>password: Guessthis</span>
                </div>
            <div class="mt-4">
                <form action="/login" method="POST">
                  
                    <div class="mb-4">
                        <label for="exampleInputEmail1" class="form-label text-muted">Email Address</label>
                            <input
                                type="email"
                                class="form-control"
                                id="exampleInputEmail1"
                                placeholder="Email Address"
                                aria-describedby="emailHelp"
                                name="email"
                              />
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label text-muted">Password</label>
                        <input
                          type="password"
                          class="form-control"
                          id="exampleInputPassword1"
                          placeholder="Password"
                          name="password"
                        />
                    </div>
              
                    <div class="d-grid">
                        <button type="submit" class="btn btn-dark btn-lg">Sign up</button>
                    </div>
                    <p class="text-center text-muted mt-4">Want to make a new account?
                        <a href="/signup" class="text-decoration-none">Sign Up!</a>
                    </p>
                </form>
            </div>
        </div>
      </div>
      
</main>

<%- include('partials/footer') -%>
