<%- include('partials/header') -%>
    <main class="container">
        <div class="row justify-content-center">
          <div class="text-center mt-4">
            <p>You do not need to enter a real email address, just remember what ever email you type in because you will need it to log back in</p>
          </div>
            <section class="col-12 col-md-6 my-3">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>

                  <div class="card shadow-lg w-100 mb-4" style="max-width: 480px;">
                    <div class="card-body">
                        <div class="text-center">
                            <h1 class="card-title h3">Sign up</h1>
                            <p class="card-text text-muted">Sign up below to create your account</p>
                        </div>
                        <div class="text-center text-muted mt-3">
                                <p>Don't want to make an account?</p>
                                <span><a href="/login" class="text-decoration-none">Login</a> with:</span>
                                <br>
                                <span>email: guest@guest.com</span>
                                <br>
                                <span>password: Guessthis</span>
                            </div>
                        <div class="mt-4">
                            <form action="/signup" method="POST">
                              <div class="mb-4">
                                    <label for="userName" class="form-label text-muted">Username</label>
                                    <input type="text" class="form-control" id="userName" name="userName" placeholder="Username">
                                    <div id="emailHelp" class="form-text">How others will see you.</div>
                                </div>
                                <div class="mb-4">
                                    <label for="exampleInputEmail1" class="form-label text-muted">Email Address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Address" aria-describedby="emailHelp" name="email">
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                                </div>
                                <div class="mb-4">
                                    <label for="password" class="form-label text-muted">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                                </div>
                                <div class="mb-4">
                                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword">
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-dark btn-lg">Sign up</button>
                                </div>
                                <p class="text-center text-muted mt-4">Already have an account?
                                    <a href="/login" class="text-decoration-none">Login</a>.
                                </p>
                            </form>
                        </div>
                    </div>
                  </div>
              </section>
          </div>
    </main>

<%- include('partials/footer') -%>